@import url("fonts/Roboto-Slab/RobotoSlab.css");

.app {
    font-family: "Roboto Slab", serif;
    min-height: 100vh;
}
.app-container {
    display: block;
}
.app-sidebar {
    width: 20vw;
    height: 100vh;
}
.app-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(14, 12, 54);
    background: linear-gradient(45deg, rgba(14, 12, 54, 1) 0%, rgba(40, 130, 184, 1) 100%);
}

.bgc-1F1E30 {
    background-color: #1F1E30 !important;
}

.object-fit-cover {
    object-fit: cover;
}

.text-justify {
    text-align: justify;
}

.cursor-pointer {
    cursor: pointer;
}

.auth-form {
    width: 100%;
}

@media (min-width: 576px) {
    .auth-form {
        width: 40%;
    }
    .app-container {
        display: flex;
    }
    .home-carousel-img {
        height: 30rem;
    }
}
